@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-size: 14px;
    line-height: 20px;
    font-family: Poppins, sans-serif;
    background-color: #f1f6ff;
    color: #333;
    overflow-x: hidden;
}
h4 {
    font-size: 18px;
    line-height: 24px;
}
h5 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.md-form.md-outline input[type="text"], .md-form.md-outline input[type="password"], .md-form.md-outline input[type="email"], .md-form.md-outline input[type="url"], .md-form.md-outline input[type="time"], .md-form.md-outline input[type="date"], .md-form.md-outline input[type="datetime-local"], .md-form.md-outline input[type="tel"], .md-form.md-outline input[type="number"], .md-form.md-outline input[type="search-md"], .md-form.md-outline input[type="search"], .md-form.md-outline textarea.md-textarea {
    background-color: white;
    border: 1px solid #dadce04a;
    border-radius: 4px;
    outline: none;
    transition: all .3s;
    box-shadow: 0px 14px 22px -9px #bbcbd878;
    padding: 7px 0 6px 11px;
}
.md-form.input-with-post-icon .input-prefix {
    right: 16px;
    left: initial;
    top: 20px;
}
.md-form.md-outline {
    position: relative;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
.dashboard-header {
    border-bottom: 1px solid #bebebe;
    margin-bottom: 16px;
}
.dashboard-claim-card {
    background-color: #fff;
    padding: 14px;
    margin-bottom: 14px;
    height: calc(100% - 14px);
    box-shadow: 0px 14px 22px -9px #bbcbd878;
}
.dashboard-claim-card .title {
    padding-bottom: 6px;
    color: #707070;
}

.dashboard-claim-card h4 {
    font-weight: 600;
    position: relative;
}
.dashboard-claim-card h4 small {
    font-size: 14px;
    font-weight: 500;
    opacity: .8;
}

.dashboard-claim-card .progress-block {
    overflow: hidden;
    margin-bottom: 12px;
}
.dashboard-claim-card .progress-block .ready-submission-bar, .dashboard-claim-card .progress-block .rejected-waseel-bar {
    height: 6px;
    border-radius: 8px;
}
.bg-magenta, .bg-rejected-waseel {
    background-color: #d81b49 !important;
}
.dashboard-claim-card .statistics {
    font-weight: 600;
    padding-bottom: 6px;
}
.text-parrot, .text-ready-submission {
    color: #6aba35 !important;
}
.dashboard-claim-card .statistics small {
    font-size: 12px;
    font-weight: 500;
}
.text-magenta, .text-rejected-waseel {
    color: #d81b49 !important;
}
.dashboard-claim-card .statistics small {
    font-size: 12px;
    font-weight: 500;
}
.dashboard-claim-card .statistics:last-child {
    padding-bottom: 0;
}
.dashboard-legend {
    display: flex;
    justify-content: flex-end;
    margin-top: -38px;
}
.dashboard-legend>li>span {
    display: block;
    height: 8px;
    width: 8px;
    border-radius: 50px;
    margin-right: 6px;
}
.bg-parrot, .bg-ready-submission {
    background-color: #6aba35!important;
}

.dashboard-legend>li {
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.text-green, .text-paid {
    color: #36793d!important;
}
.text-light-blue, .text-partially-paid {
    color: #458fb3!important;
}
.text-light-blue, .text-partially-paid {
    color: #458fb3!important;
}
.text-light-pink, .text-rejected {
    color: #dc4d90!important;
}

.bg-deep-red, .bg-submitted, .bg-submitted-outside-waseel, .bg-under-processing {
    background-color: #7d0202!important;
}
.bg-green, .bg-paid {
    background-color: #36793d!important;
}
.bg-light-blue, .bg-partially-paid {
    background-color: #458fb3!important;
}
.bg-light-pink, .bg-rejected {
    background-color: #dc4d90!important;
}
.text-deep-red, .text-submitted, .text-submitted-outside-waseel, .text-under-processing {
    color: #8f3030!important;
}


.primary-card {
    background: #fff;
    position: relative;
    margin-bottom: 14px;
    display: block;
    height: calc(100% - 14px);
    box-shadow: 0px 14px 22px -9px #bbcbd878;
}

.primary-card .primary-card-title {
    padding: 12px 14px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
}
.rejection-card-head {
    display: flex;
    align-items: center;
    padding-bottom: 12px;
    min-height: 72px;
}
.rejection-card-head>.left-block {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% - 120px);
    max-width: calc(100% - 120px);
    padding: 12px 14px 0;
}
.rejection-card-head>.left-block h6 {
    color: #707070;
    font-size: 12px;
}
.item-list>li {
    background-color: #f6f6f6;
    border-radius: 8px;
    padding: 14px;
    margin: 15px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.item-list>li .status-dot {
    margin-right: 14px;
    flex-shrink: 0;
}
.status-dot.size-lg {
    height: 14px;
    width: 14px;
}
.status-dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}
